<!DOCTYPE html>
<html ng-app="hotelDataWriter">
    <head>
        <title>Hotel Data Writer (Edit Mode)</title>
        <script type="text/javascript" ng:autobind src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
        <script type="text/javascript">
            angular.module('hotelDataWriter', ['ngResource']);

            function MyController($scope, $resource) {

                var hotelDataUrl = window.location.pathname + ".json";

                $scope.data = $resource(hotelDataUrl).get();
            }
        </script>
    </head>
    <body ng:controller="MyController">
        <h3>Edit Hotel Entry</h3><br/>
        <form action="/edit">
            Street: <input ng-model="data.street"/><br/>
            Stars: <input ng-model="data.stars"/><br/>
            Phone: <input ng-model="data.phone"/><br/>
            URL: <input ng-model="data.url"  />
            <button type="submit">Create/Update</button>
        </form>
    </body>
</html>
